*{
  margin: 10px;
}

button {
  display:block;
}

.box, .swatch{
  display: block;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  text-align: center;
}

.square{
  margin: 0;
  display: inline-block;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  text-align: center;
}
